* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  color: #838383;
  background-color: #d8d8d8;
  font-size: 18px;

  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

.card {
  max-width: 450px;

  width: 100%;
  border-radius: 35px;
  background-color: #fff;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #838383;
  border-radius: 25px;
}

input {
  width: 90%;
  font-size: 16px;
  color: inherit;
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
  padding: 10px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
}

button:active {
  background-color: #fff;
}

button:disabled {
  background-color: rgb(0, 0, 0);
  cursor: not-allowed;
}

.card-info,
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
  z-index: 1;
}

ul {
  list-style: none;
}

.drop {
  position: absolute;
  top: 105px;
  background-color: rgba(255, 255, 255, 0.712);
  width: 100%;
  border-radius: 15px;

  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  z-index: 2;
}

.list li {
  margin: 0 auto;
  width: 95%;
  padding: 5px;
  background-color: #fff;
  color: #505050;
  border-radius: 15px;
  z-index: 555;
  -webkit-box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.list li:hover {
  cursor: pointer;
  transform: scale(1.025);
  -webkit-box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.25);
}
